@page "/signin-google"
@model MoralSupport.Finance.Web.Pages.CallbackModel
@{
    ViewData["Title"] = "Google Login Callback";

}

<h1>Processing Google Login...</h1>

<div id="status">Please wait...</div>

<script>
    (function () {
        const hash = window.location.hash.substring(1);
        const params = new URLSearchParams(hash);
        const idToken = params.get('id_token');

        if (idToken) {
            window.location.href = `/signin-google?id_token=${idToken}`;
        } else {
            const urlParams = new URLSearchParams(window.location.search);
            if (!urlParams.has('id_token')) {
                document.getElementById('status').innerText = "Waiting for Google login...";
            }
        }
    })();
</script>

@if (Model.Message != null)
{
    <p>@Model.Message</p>
}